header.header-block
  .header-wrapper.content
    <svg class='header__icon' width="20px" height="40px" viewBox="0 0 70 61" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class='logo-href_hover' />
    </svg>
    h1.header__title Dinning menu
