.date-wrapper 
    .note.yellow
        .pin
            #morf-date  
            #morf-month
//- .menu-main-title MENU     
.content-wrapper     
    .cat-wrapper
        .left-menu-wrapper
            #category Cold dishes
            #menuContainerCold
            #category First courses
            #menuContainerFirst
            #category Second courses
            #menuContainerSecond
        .right-menu-wrapper
            #category Side dishes
            #menuContainerSide
            #category Drinks
            #menuContainerDrinks
            #category Bakery
            #menuContainerBakery
            #category Bread
            #menuContainerBread

