.side-menu
    a(href="screen1.html" class="side-button-1 button") Screen 1
    a(href="screen2.html" class="side-button-2 button") Screen 2    
    a(href="screen3.html" class="side-button-3 button") Screen 3
    a(href="admin.html" class="side-button-4 button") Dashboard
    a(href="today.html" class="side-button-5 button") Today menu
    a(href="list.html" class="side-button-6 button") All dishes
    a(href="about.html" class="side-button-7 button") About app
