.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgba(13, 67, 122, 0.1);
  padding: 40px;
  animation: block-emerge 1.8s ease-in;
}

@keyframes block-emerge {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

h3 {
  margin-bottom: 20px;
  text-decoration: underline;
  text-underline-offset: 8px;
}

p {
  color: #bd1d1d;
}

input {
  padding: 8px;
}

input,
select {
  border-radius: 8px;
  background-color: rgba(91, 123, 113, 0.1);
}

input:focus {
  color: #ab1616;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(237, 8, 8, 0.3786648448441877) 100%
  );
}

select {
  height: 40px;
  padding: 8px;
  width: 180px;
}

label {
  display: inline-block;
  width: 180px;
}

input[type="text"]:focus,
select:focus {
  outline: 2px solid #ff0000;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(237, 8, 8, 0.3786648448441877) 100%
  );
}

input::placeholder {
  color: rgb(111, 109, 109);
}

#form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

#submitButton,
#delete-response,
#list-all {
  color: #ffffff;
  border-radius: 13px;
  padding: 11px;
  margin-top: 20px;
}

#submitButton:focus,
#delete-response:focus,
#list-all:focus {
  outline: 2px solid red;
}

.lista-all-wrapper {
  display: flex;
  justify-content: center;
}

#list-all {
  background-color: #1c9041;
  outline: 2px rgb(213, 255, 219) solid;
  text-decoration: none;
  width: 240px;
  text-align: center;
}

#list-all:hover {
  color: #000000;
}

.form-div-center,
.form-div-delete {
  display: flex;
  justify-content: center;
}

.form-div-delete {
  margin-bottom: 20px;
}

#submitButton {
  background-color: #2153c9;
}

#delete-response {
  background-color: #cc1860;
}

#delete-response:hover,
#submitButton:hover {
  cursor: pointer;
  color: #000000;
}

p {
  font-size: 14px;
}
