.date-wrapper 
    .note.yellow
        .pin
            #morf-date  
            #morf-month
.content-wrapper
    .cat-wrapper
        p.demo-par DEMO TEXT notice that columns swapped

        .left-menu-wrapper
            #category Cold dishes
            #menuContainerCold
            #category First courses
            #menuContainerFirst

