doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Index page
    link(rel="stylesheet", href=require("./styles/index.scss"))
    //- script(defer src=require("./js/sticky.js"))
    //- script(defer src=require("./js/menuscreen/screen1.js"))

  body
    main
      //- include ./includes/version
      //- include ./includes/sidemenu/sidemenu
      //- include ./includes/menuscreen/screen1/screen1
      a(href="screen1.html") Screen 1 
      a(href="screen2.html") Screen 2
      a(href="screen3.html") Screen 3