doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Forming meals for the day
    link(rel="stylesheet", href=require("./styles/index.scss"))
    script(defer src=require("./js/sticky.js"))
    script(defer src=require("./js/today.js"))

  body
    main
      include ./includes/version
      include ./includes/sidemenu/sidemenu
      include ./includes/menuscreen/today
      
      