.date-wrapper 
    .note.yellow
        .pin
            #morf-date  
            #morf-month
.content-wrapper
    .cat-wrapper
        .left-menu-wrapper
            #category Cold dishes
            #menuContainerCold
            #category First courses
            #menuContainerFirst
            #category Second courses
            #menuContainerSecond
        //- .right-menu-wrapper



